.menu{
    display: flex;
    height: 130px;
    align-items: center;
}

.menu-logo{
    width: 130px;
    margin-left: 30px;
    margin-right: 5vw;
}

.menu-logo-image{
    width: 100%;
}

.menu-navigation{
    width: calc(24vw + 130px);

}

.menu-navigation-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navigation-item{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-bar::after{
    display: block;
    content: '';
    width: 80%;
    height: 4px;
    margin-top: 8px;
    background-color: #fe7467;
}

/*config for tablet 768px*/
@media screen and (max-width: 768px) {

    .menu{
        flex-direction: column;
        height: 30vh;
        justify-content: space-around;
    }

    .menu-logo{
        width: 130px;
        margin-top: 20px;
    }

    .menu-navigation{
        width: 100vw;
    }

}

/*config for mobile 481px*/
@media screen and (max-width: 481px) {

    .menu{
        height: 20vh;
    }

    .menu-logo{
        width: 130px;
        margin-top: 15px;
    }

    .menu-navigation{
        width: 100vw;
    }

}