header{
    height: 100vh;
}
.header{
    background-image: url("../../images/contatoheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.header-image-title{
    width: auto;
    height: 18rem;
    position: absolute;
    left: 8rem;
    bottom: 5rem;
}