header{
    height: 100vh;
}

.header{
    background-image: url("../../images/spidermanheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.header-image-title{
    width: auto;
    height: 18rem;
    position: absolute;
    left: 10rem;
    bottom: 9rem;
}





