header{
    height: 100vh;
}
.header{
    background-image: url("../../images/contatoheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.header-image-title{
    width: auto;
    height: 18rem;
    position: absolute;
    left: 8rem;
    bottom: 5rem;
}


@media screen and (max-width: 768px){

    .header-image-title{
        height: 10em;
    }
    .header{
        background-image: url("../../images/contatoheader_mobile.jpg");
    }
}

@media screen and (max-width: 481px){

    .header-image-title{
        display: none;
    }
}

@media screen and (max-height: 530px){
    .header-image-title{
        height: 10em;
    }

}