.about-us{
    display: grid;
    grid-template-columns: 53vw 41vw;
    grid-template-rows: 180px calc(87vh - 180px);
    height: 95vh;
    background-image: url("../../images/thor_header.jpg");
    background-size: cover;
    background-position: top center;
}

.title-about{
    grid-column-start: 1;
    grid-column-end: 3;
}

.about-us-text{
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 340px;
    margin-top: calc(30vh - 180px);
    align-content: center;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

/*config about for tablet 768px*/

@media screen and (max-width: 768px){
    .about-us {
        display: flex;
        height: 70vh;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        background-image: linear-gradient(#fe7467, #fc3836);
        background-position: center;
    }

}

@media screen and (min-width: 483px) and (max-width: 768px){
    .about-us-text{
        padding: 3vh 12vw;
        display: -webkit-box;
        max-height: 210px;
        -webkit-line-clamp: 8;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
}
@media screen and (max-width: 483px){
    .about-us {
        height: auto;
        padding-top: 25px;


    }

    .about-us-text{
        margin: 5vh 12vw;
        max-height: 235px;
        -webkit-line-clamp: 11;
    }
}

@media screen and (max-height: 530px){

    .title-about{
        font-size: 20px;
    }
    .title::after{
        width: 85px;
        height: 4px;
    }

    .about-us-text{
        font-weight: 500;
    }

    .about-us{
        grid-template-rows: 100px auto;
    }

}